/// display flex center center;
@mixin d-f-cc() {
  display: flex;
  place-content: center;
}

/// display
@mixin customDisplay( $display, $justify-content, $align-items ) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin wrapper( $width, $top-bottom ) {
  width: $width;
  margin: $top-bottom auto;
}
