main {
  min-width: 360px;
  overflow: hidden;
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
  padding-top: 70px;
  section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    margin-bottom: 15px;
    margin-top: 15px;
    &:hover .name {
      color: black;
      font-weight: bold;
    }
    // &::after {
    //   content: "";
    //   background-color: rgb(123, 123, 123);
    //   height: 1px;
    //   position: absolute;
    //   bottom: -5px;
    //   left: 50%;
    //   transform: translateX(-50%);
    //   width: calc(100% + 40px);
    // }
    // &:last-child &::after {
    //   display: none;
    // }
    .name {
      transition: 0.3s;
      width: 50%;
      overflow: auto;
      color: #707070;
      text-decoration: none;
    }

    .btn {
      width: 150px;
      transition: 0.5s;
      font-weight: bold;
      &:hover {
        background-color: rgb(170, 0, 0);
      }
    }

    .btn-success {
      background-color: rgb(0, 161, 102);
      &:hover {
        background-color: rgb(0, 112, 71);
      }
    }
  }
}
.new {
  display: block;
  position: absolute;
  margin-top: 40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  text-align: center;
  width: 150px;
  background-color: #7c40fd;
  z-index: 100;
  color: white;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .btn {
    width: 100px !important;
  }
}
@media only screen and (max-width: 572px) {
  .btn {
    width: 70px !important;
  }
}
@media only screen and (max-width: 472px) {
  .btn {
    width: 70px !important;
  }
  main {
    width: 95% !important;
  }
}