main {
  min-width: 360px;
  overflow: hidden;
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
  padding-top: 70px;
}
main section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
  margin-bottom: 15px;
  margin-top: 15px;
}
main section:hover .name {
  color: black;
  font-weight: bold;
}
main section .name {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 50%;
  overflow: auto;
  color: #707070;
  text-decoration: none;
}
main section .btn {
  width: 150px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: bold;
}
main section .btn:hover {
  background-color: rgb(170, 0, 0);
}
main section .btn-success {
  background-color: rgb(0, 161, 102);
}
main section .btn-success:hover {
  background-color: rgb(0, 112, 71);
}

.new {
  display: block;
  position: absolute;
  margin-top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 10px;
  text-align: center;
  width: 150px;
  background-color: #7c40fd;
  z-index: 100;
  color: white;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .btn {
    width: 100px !important;
  }
}
@media only screen and (max-width: 572px) {
  .btn {
    width: 70px !important;
  }
}
@media only screen and (max-width: 472px) {
  .btn {
    width: 70px !important;
  }
  main {
    width: 95% !important;
  }
}