main {
  div {
    h2 {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
body {
  background-color: #eaf3ff;
}
.new  {
  position: absolute;
  right: 100px;
  top: 152px;
  color: white;
}
table {
  width: 100%;
  border-radius: 13px;
  overflow: hidden;
  border-spacing: 31px;
  td {
    padding: .5rem .3rem;
    background-color: white;
    transition: 0.3s;
    text-align: center;

    .btn {
      transition: all 0.1s;
      position: relative;
      padding: 5px 20px;
      margin: 0px 10px 10px 0px;
      border-radius: 3px;
      font-family: 'Lato', sans-serif;
      font-size: 18px;
      color: #FFF;
      text-decoration: none;
      &:active {
        transform: translate(0px,5px);
        border-bottom: 1px solid;
      }
    }
    .btn-danger {
      background-color: #dc3545;
      border-bottom: 5px solid #ab2936;
      text-shadow: 0px -2px #fe5667;
      &:active {
        background-color: #0d6efd;
      }
      &:hover {
        background-color: #dc3545;
      }
    }
    .btn-success {
      background-color: #20c997;
      border-bottom: 5px solid #19ab7f;
      text-shadow: 0px -2px #27dca6;
      &:active {
        background-color: #20c997;
      }
      &:hover {
        background-color: #20c997;
      }
    }
  }
  thead {
    height: 50px;
    tr td {
      background-color: #6c79e0;
      color: white;
      font-weight: bold;
    }
  }
  tbody tr {
    border-top: rgb(219, 219, 219) solid 1px;
    transition: 0.4s;
    cursor: pointer;
    &:hover td {
      background-color: #edecff;
    }
    td a {
      text-decoration: none;
      color: #000;
      &:hover {
        color: unset;
      }
      div {
        max-width: 400px;
        // white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

}
@media only screen and (max-width: 800px) {
  main {
    width: calc(100% - 10px);
    overflow: auto;
    margin-left: 10px;
    h2  {
      width: 200%;
    }
    table {
      width: 200%;
    }
  }
  .new {
    position: unset;
    svg {
      margin-top: 10px;
      margin-left: 10px;
      padding: 15px;
      width: 68px;
      text-align: center;
      border-radius: 4px;
      background-color: #6c79e0;
      transition: 0.3s;
      &:hover {
        background-color: #616dcd;
      }
    }
  }
}