* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: #fff;
}

main {
	width: 80%;
	margin: 1rem auto;
}

// new sign
// .new {
// 	position: absolute;
// 	top: 5rem;
// 	left: .5rem;
// 	font-size: 2rem;
// }