.true {
  background-color: green;
}

.false {
  background-color: red;
}

.selections .right {
  background-color: #998000;
}

label {
  padding-right: 70%;
}

.popup {
  background-color: blue;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 3rem;
  z-index: 1;
  display: none;
}
.popup h4 {
  padding: 0.5rem;
}
.popup.active {
  display: inline;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.overlay.active {
  display: inline;
}

.back-btn {
  position: absolute;
  top: 6rem;
  right: 1rem;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  background-color: rgb(45, 45, 211);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: none;
}
.back-btn:hover {
  background-color: blue;
}
.back-btn.active {
  display: inline;
}

body {
  height: 1000vh;
}