// import mixins
@use "../sass-helpers/mixins" as *;

// import variables
@use "../sass-helpers/variables" as *;

// get initializations

// @include getInit( $form-background-color );
@font-face {
  font-family: font;
  src: url(../webfonts/Cairo-VariableFont_slnt\,wght.ttf);
}
body {
  background-color: #eee;
  background-image: url("../img/bg-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: font;
  background-attachment: fixed;
  background-position: center;
}
main {
  // position: relative;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 500px;
  margin-top: 30px;
  margin-bottom: 30px;

  form {
    display: flex;
    place-content: center;
    flex-direction: column;
    gap: 1.5rem;


    min-height: 100vh;
    .input-box {
      position: relative;
      input, textarea {
        width: 100%;
        margin-bottom: 20px;
        padding: 0.62rem;
        // background-color: $form-background-color;
        color: black;

        outline: none;
        transition: 0.3s;
        border: 1px solid rgba(0, 0, 0, 0.25) {
          radius: 0.2rem;
        }
        &:focus,
        &:valid {
          border-color: $turquoise;
        }
        &:focus ~ span,
        &:valid ~ span,
        &:focus ~ label,
        &:valid ~ label {
          padding: 0 0.62rem;
          background-color: white;
          color: black;
          font-size: 0.65rem;
          letter-spacing: 0.2rem;
          transform: translate(0.62rem, -0.44rem);
          transition: 0.3s;
          border: {
            left: 1px solid $turquoise;
            right: 1px solid $turquoise;
          }
          // color: $form-background-color;
          // background-color: #045047;
          // border-radius: 0.5rem;
        }
      }
      span, label {
        position: absolute;
        left: 0;
        padding: 0.6rem;
        pointer-events: none;
        color: rgba(0, 0, 0, 0.45);
        text-transform: uppercase;
        transition: 0.5s;
      }
    }
    .box {
      padding: 20px;
      border-radius: 5px;
      background-color: white;
      padding-bottom: 0px;
    }

    #submit {
      font-family: Poppins-Medium;
      font-size: 16px;
      color: #fff;
      background: none;
      line-height: 1.2;
      text-transform: uppercase;
      font-weight: bold;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 20px;
      width: 100%;
      height: 50px;
      border: none;
      outline: none;
      font-family: font;
      &:hover .login100-form-bgbtn {
          left: 0%;
      }
    }
    .wrap-login100-form-btn {
        width: 100%;
        display: block;
        position: relative;
        z-index: 1;
        height: 49.99px;
        border-radius: 25px;
        overflow: hidden;
        margin: 0 auto;
        box-shadow: 0 5px 30px 0 rgba(3, 216, 222, 0.2);
        -moz-box-shadow: 0 5px 30px 0 rgba(3, 216, 222, 0.2);
        -webkit-box-shadow: 0 5px 30px 0 rgba(3, 216, 222, 0.2);
        &:hover .login100-form-bgbtn {
            left: 0%;
        }
        margin-bottom: 20px;
    }
    .login100-form-bgbtn {
        position: absolute;
        z-index: -1;
        width: 300%;
        height: 100%;
        background: #a64bf4;
        /* background: -webkit-gradient(linear, right top, left top, from(#00dbde), color-stop(#fc00ff), color-stop(#00dbde), to(#fc00ff)); */
        background-image: linear-gradient(to right, #00dbde, #fc00ff, #00dbde, #fc00ff);
        top: 0;
        left: -150%;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
        transform: 5s;
        
    }

    #back {
      width: 100%;
      display: block;
      font-weight: bold;
      position: relative;
      z-index: 1;
      height: 49.99px;
      border-radius: 25px;
      overflow: hidden;
      margin: 0 auto;
      box-shadow: 0 5px 30px 0 rgba(3, 216, 222, 0.2);
      -moz-box-shadow: 0 5px 30px 0 rgba(3, 216, 222, 0.2);
      -webkit-box-shadow: 0 5px 30px 0 rgba(3, 216, 222, 0.2);
      background-color: rgb(231, 12, 4);
      border: none;
      text-align: center;
      font-family: font;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }
  }
}
@media only screen and (max-width: 510px) {
  main {
      width: 90%;
  }
}