* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #1d2b3a;
}

main {
  width: 80%;
  margin: 1rem auto;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  min-height: 100vh;
}
form .input-box {
  position: relative;
}
form .input-box input, form .input-box textarea {
  width: 100%;
  padding: 0.62rem;
  background-color: #1d2b3a;
  color: #fff;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 0.2rem;
}
form .input-box input:focus, form .input-box input:valid, form .input-box textarea:focus, form .input-box textarea:valid {
  border-color: #00dfc4;
}
form .input-box input:focus ~ span, form .input-box input:valid ~ span, form .input-box input:focus ~ label, form .input-box input:valid ~ label, form .input-box textarea:focus ~ span, form .input-box textarea:valid ~ span, form .input-box textarea:focus ~ label, form .input-box textarea:valid ~ label {
  padding: 0 0.62rem;
  background-color: #1d2b3a;
  color: #00dfc4;
  font-size: 0.65rem;
  letter-spacing: 0.2rem;
  -webkit-transform: translate(0.62rem, -0.44rem);
          transform: translate(0.62rem, -0.44rem);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-left: 1px solid #00dfc4;
  border-right: 1px solid #00dfc4;
}
form .input-box span, form .input-box label {
  position: absolute;
  left: 0;
  padding: 0.6rem;
  pointer-events: none;
  color: rgba(255, 255, 255, 0.45);
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}