* {
  border: none;
  padding: 0px;
}

@font-face {
  font-family: font;
  src: url(../webfonts/Cairo-VariableFont_slnt\,wght.ttf);
}
body {
  background-image: url("../img/bg-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: font;
  background-attachment: fixed;
  background-position: center;
}
body main {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
  padding: 15px;
  border-radius: 5px;
}
body main h1 {
  text-align: center;
}
body main form label {
  font: font;
}
body main form input {
  display: block;
  padding: 4px;
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  border-bottom: 2px solid rgba(40, 37, 37, 0.573);
}
body main form input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
body main form #submit {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  background: none;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  font-family: font;
}
body main form #submit:hover .login100-form-bgbtn {
  left: 0%;
}
body main form .wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  height: 49.99px;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 5px 30px 0 rgba(3, 216, 222, 0.2);
  -moz-box-shadow: 0 5px 30px 0 rgba(3, 216, 222, 0.2);
  -webkit-box-shadow: 0 5px 30px 0 rgba(3, 216, 222, 0.2);
}
body main form .wrap-login100-form-btn:hover .login100-form-bgbtn {
  left: 0%;
}
body main form .login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #a64bf4;
  /* background: -webkit-gradient(linear, right top, left top, from(#00dbde), color-stop(#fc00ff), color-stop(#00dbde), to(#fc00ff)); */
  background-image: -webkit-gradient(linear, left top, right top, from(#00dbde), color-stop(#fc00ff), color-stop(#00dbde), to(#fc00ff));
  background-image: linear-gradient(to right, #00dbde, #fc00ff, #00dbde, #fc00ff);
  top: 0;
  left: -150%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: 5s;
          transform: 5s;
}
body main span {
  width: 100%;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
body main .forgetPassword {
  text-align: right;
  width: 90%;
}
@media only screen and (max-width: 510px) {
  body main {
    width: 90%;
  }
}